
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{0}</title>
    <link rel="stylesheet" type="text/css" href="{1}">
    <script src="{2}"> </script>
</head>
<body {3}>
<div class="titulo">{4} </div>

<ul class="menu">
  <li class="entrada">
    <a href="portada.py">Home</a>
  </li>
  <li class="entrada">
    <a href="InformarActividad.py">Agregar Actividad</a>
  </li>
  <li class="entrada">
    <a href="listadoActividades.py">Listado Actividades</a>
  </li>
  <li class="entrada">
    <a href="../Estadisticas.html">Estadísticas</a>
  </li>
</ul>
<div class="contenido">
    {5}
</div>
</body>
</html>