
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{0}</title>
    {1}
    
</head>
<body {2}>
<div class="titulo">{3} </div>

<ul class="menu">
  <li class="entrada">
    <a href="portada.py">Home</a>
  </li>
  <li class="entrada">
    <a href="InformarActividad.py">Agregar Actividad</a>
  </li>
  <li class="entrada">
    <a href="listadoActividades.py">Listado Actividades</a>
  </li>
  <li class="entrada">
    <a href="estadisticas.py">Estadísticas</a>
  </li>
</ul>
<div class="contenido">
    {4}
</div>
</body>
</html>